<?xml version="1.0"?>
<config>
    <modules>
        <CustomGento_CoreFixes>
            <version>1.0.0</version>
        </CustomGento_CoreFixes>
    </modules>
    <global>
        <helpers>
            <configurableswatches>
                <rewrite>
                    <productimg>CustomGento_CoreFixes_Helper_ConfigurableSwatches_Productimg</productimg>
                </rewrite>
            </configurableswatches>
        </helpers>
        <models>
            <sales>
                <rewrite>
                    <quote_address_total_subtotal>CustomGento_CoreFixes_Model_Sales_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                </rewrite>
            </sales>
        </models>
    </global>
</config>
