<?xml version="1.0"?>
<config>
    <modules>
        <CustomGento_CoreFixes>
            <version>1.0.0</version>
        </CustomGento_CoreFixes>
    </modules>
    <global>
        <blocks>
            <downloadable>
                <rewrite>
                    <adminhtml_catalog_product_edit_tab_downloadable_links>CustomGento_CoreFixes_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Links</adminhtml_catalog_product_edit_tab_downloadable_links>
                    <adminhtml_catalog_product_edit_tab_downloadable_samples>CustomGento_CoreFixes_Block_Adminhtml_Catalog_Product_Edit_Tab_Downloadable_Samples</adminhtml_catalog_product_edit_tab_downloadable_samples>
                </rewrite>
            </downloadable>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <quote_address_total_subtotal>CustomGento_CoreFixes_Model_Sales_Quote_Address_Total_Subtotal</quote_address_total_subtotal>
                    <service_order>CustomGento_CoreFixes_Model_Sales_Service_Order</service_order>
                </rewrite>
            </sales>
        </models>
    </global>
</config>
